header {
  height: 80px;
  background-color: var(--color-bg-secondary);
  color: white;
  display: flex;
  align-items: center;
}

header img {
  width: 30px;
}

.header-content-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar {
  display: flex;
}

.menu-item {
  margin-right: 20px;
}

.menu-active {
  font-weight: 700;
}